@import url("https://fonts.googleapis.com/css?family=Quicksand|Sigmar+One&display=swap");
body {
  font-family: "Quicksand", sans-serif;
  background-color: #111018;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(23, 28, 34, 0.8);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.btn {
  margin: 10px;
  text-decoration: none;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
svg {
  margin: 5px;
}
a {
  color: #00e4fd;
  transition: ease-in-out 0.2s;
}
a:hover {
  color: red;
}
.app_container {
  padding-top: 15px;
  padding-bottom: 15px;
}
.content_container {
  background: rgba(23, 28, 34, 0.8);
}
.card {
  background: rgba(25, 30, 42, 0.3);
}
.card-text {
  color: #02ade1;
}
h2 {
  color: #3c526a;
}
h3 {
  color: #a79c9c;
}
h4 {
  color: #a79c9c;
}
.spinner-border {
  color: rgb(196, 190, 190);
}
.about {
  color: white;
}
canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
.navbar_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.projects_container {
  height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
@media screen and (max-width: 500px) {
  .navbar_container {
    display: block;
  }
  .btn {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
